@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/
body {
	font-family: 'Noto Sans JP', sans-serif;
}

body.no_scroll {
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	height: 50px;
}

.header__logo {
	width: calc((125 / 355) * 100%);
	display: flex;
	align-items: center;
}

.hamburger {
	width: calc((50 / 355) * 100%);
	background-color: #37952F;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.hamburger__line {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #ffffff;
}

.hamburger__line:before {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #ffffff;
	position: relative;
	bottom: 8px;
}

.hamburger__line:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #ffffff;
	position: relative;
	top: 5px;
}

.hamburger__line {
	display: block;
	width: 25px;
	height: 3px;
	background: #ffffff;
	position: relative;
}

.close-line {
	display: none !important;
}

.close__button {
	display: block;
	position: relative;
}

.close__button::before,
.close__button::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
	height: 25px;
	background: #ffffff;
}

.close__button::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.close__button::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.gnav {
	display: none;
	background: #fff;
	z-index: 1;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 50px;
	left: 0;
	font-size: 16px;
	font-weight: bold;
}

.is-active {
	display: block;
}

.gnav__item {
	border-top: 1px solid #707070;
}

.gnav__item:nth-last-child(1) {
	border-bottom: 1px solid #707070;
}

.gnav__link {
	text-decoration: none;
	color: #333333;
	padding-left: 20px;
	height: 58px;
	display: block;
	line-height: 58px;
}

._current {
	border-left: #37952F 5px solid;
}

/* mainVisual
----------------------------------------*/

.mainVisual {
	width: 100vw;
	background-color: #37952F;
	padding: 20px 20px;
}

.mainVisual__inner {
	flex-direction: column-reverse;
	display: flex;
}

.mainVisual__catch {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #ffffff;
}

/* serviceList
----------------------------------------*/

.section {
	/* padding: 40px 20px; */
	padding-top: 40px;
}

.headingL {
	font-family: Oswald;
	font-size: 28px;
	text-align: center;
}

.serviceList {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.serviceList__item {
	margin-top: 20px;
	max-width: 400px;
	width: calc((100% - 40px) / 1) ;
}

.serviceList__thumb img {
	width: 100%;
}

.serviceList__data {
	padding: 20px;
}

.serviceList__data dt {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.serviceList__btn {
	background-color: #37952F;
	width: calc((292/334) * 100%);
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
}

.buttonM {
	text-decoration: none;
	color: #ffffff;
}

.centerButton {
	width: calc((335 / 375) * 100%); 
	margin: 0 auto;
	text-align: center;
	height: 70px;
	border: 2px solid #37952F;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonL {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
	font-size: 20px;
}

/* pickupList
----------------------------------------*/

.pickupList {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 25px;
	padding: 0 20px;
	margin-bottom: 40px;
}

.pickupList__item a {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

.pickupList__title::before {
	content: "";
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin-right: 0.5em;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
}

.footer {
	background-color: #333333;
	margin-top: 70px;
	padding: 0 15px;
}

.footer__menu a, .footer__copyright {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.footer__menu li {
	padding: 10px 0;
	border-bottom: 1px solid #707070;
}

.footer__copyright {
	padding: 45px 0;
	text-align: center;
}